/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("/assets/images/h4-bg-slider1.jpg");
    .btn {
        &.btn-warning {
            background-color: #fe7717;
        }

        &btn-success {
            background-color: #77a72d;
        }
    }
}
